.main_newsletter_container {
  border: 2px solid #ffffff;
  background-color: transparent;
  border-radius: 24px;
  background: rgba(255, 255, 255, 0.15);
}

.newsletter_content_container {
  border: 1px solid rgba(19, 19, 19, 0.1);
  border-radius: 24px;
  background: rgba(255, 255, 255, 1);
  background-image: url("https://i.ibb.co.com/gbxGDvV9/bg-shadow.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.newsletter_content_container input {
  border: 1px solid rgba(19, 19, 19, 0.15);
  background: rgba(255, 255, 255, 1);
  padding: 15px 20px 15px 20px;
  outline: none;
}
.newsletter_content_container button {
  box-shadow: inset 4px 4px 20px 0px rgba(19, 19, 19, 0.3);
  padding: 16px 20px 16px 20px;
  background: linear-gradient(to right, #e6cca8, #ef7e93);
}
